@tailwind base;
@tailwind components;

.container {
  @apply max-w-[1100px] w-full px-5 md:px-10;
}

@tailwind utilities;

.blue-gradient {
  background: linear-gradient(26deg, #BBEAF3 0%, #58B6D3 100%);
}


.dark-blue-background {
  background: linear-gradient(134deg, #1D3148 0%, #121826 100%);
}

@keyframes loop {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animated-loop {
  animation: loop 15s linear infinite;
}